<section class="column-3 br1 mc tc mt2 bg_light" style="padding-bottom: 2rem;">
    <article class="mv_body p2">
            <aside class="form_column">
                <input type="hidden" name="idAsesoria" value="idAsesoria" />
                <div class="heading mb1">
                    <i class="ai-triangle-alert color_danger sz48"></i>
                    <h1 class="font_w700 color_title">Estas seguro en eliminar asesoria ?</h1>
                </div>
                <div class="users_btn mc">
                    <a class="button button_2 bg_danger color_light sz16 font_w500" >
                       Eliminar 
                    </a>

                    <a class="button button_2 bg_hover color_dark sz16 font_w500 btn_cerrar">
                        Cancelar
                    </a>
                </div>
            </aside>
    </article>
</section>