<nav class="navigation_app">
    <figure class="logo_app">
        <img src="img/logo_icon.png">
    </figure>
    <ul>
        <li><a th:href="@{/}" th:classappend="${activePage == 'index'} ? 'bg_hover color_dark'">
        <i class="ki-outline ki-home-3"></i><span>Dashboard</span></a></li>
        <li><a th:classappend="${activePage == 'cursos'} ? 'bg_hover color_dark'" th:href="@{/cursos}">
            <i class="ki-outline ki-book-square"></i><span>Cursos</span></a></li>
        <li><a th:classappend="${activePage == 'profesores'} ? 'bg_hover color_dark'" th:href="@{/profesores}">
        <i class="ki-outline ki-users text-lg"></i><span>Profesores</span></a></li>
        <li><a th:href="@{/asesorias}"><i class="ki-outline ki-calendar"></i> <span>Asesorias</span></a></li>
        <li><a th:href="@{/pagos}"><i class="ki-outline ki-bill"></i><span>Pagos</span></a></li>
        <li><a th:href="@{/configuracion}"><i class="ki-outline ki-setting-3"></i><span>Ajustes</span></a></li>
    </ul>
</nav>