<nav class="navigation_app">
    <figure class="logo_app">
        <img src="img/logo_icon.png">
    </figure>
    <ul>
        <li><a th:href="@{/}" th:classappend="${activePage == 'index'} ? 'bg_dark color_light'"><i class='bx bx-home'></i><span>Dashboard</span></a></li>
        <li><a th:classappend="${activePage == 'cursos'} ? 'bg_dark color_light'" th:href="@{/cursos}"><i class="ai-book-open"></i><span>Cursos</span></a></li>
        <li><a th:classappend="${activePage == 'profesores'} ? 'bg_dark color_light'" th:href="@{/profesores}"><i class="ai-people-multiple"></i><span>Profesores</span></a></li>
        <li><a th:href="@{/asesorias}"><i class="ai-devices"></i> <span>Asesorias</span></a></li>
        <li><a th:href="@{/pagos}"><i class="ai-money"></i><span>Pagos</span></a></li>
        <li><a th:href="@{/configuracion}"><i class="ai-gear"></i><span>Configuración</span></a></li>
    </ul>
</nav>