<nav class="navigation_panel">
    <ul class="searcher_contender">
        <li class="searcher_icon"><i class="ai-search sz20"></i></li>
        <li class="searcher"><input type="search"></li>
    </ul>

    <ul class="profile_contender">
        <li class="profile_info">
            <h6 class="sz18" th:text="${usuarios != null ? usuarios.nombres : 'Nombre Usuario'}">Nombre Usuario</h6>
            <p class="sz15" th:text="${usuarios != null ? usuarios.tipoUsuario : 'Tipo Usuario'}">Tipo Usuario</p>
        </li>
        <li class="profile_picture" id="dropdow_toogle">

        <img th:src="@{upload/{tipo}/{foto}(tipo=${usuarios != null ? (usuarios.tipoUsuario == 'Estudiante' ? 'students' : 'professors') : 'students'}, foto=${usuarios != null ? usuarios.fotoPerfil : 'default_profile.jpg'})}" />
        
        </li>
        <article class="dropdow_menu hidden" id="dropdow_menu" th:include="components/profile"></article>
    </ul>
</nav>
