<nav class="navigation_panel">
    <ul class="searcher_contender">
        <li class="searcher_icon"><i class="ai-search sz24"></i></li>
        <li class="searcher"><input type="search" placeholder="search"></li>
    </ul>

    <ul class="profile_contender">
        <li class="profile_info">
            <h6>John Duarte</h6>
            <p>Estudiante</p>
        </li>
        <li class="profile_picture" id="dropdow_toogle">
            <img src="upload/students/estudiante.jpg">
        </li>
        <article class="dropdow_menu hidden" id="dropdow_menu" th:include="components/profile"></article>
    </ul>
</nav>
