<div class="profile_contender p1">
    <div class="profile_picture">
        <img src="img/alumno1.jpg">
    </div>
    <div class="profile_info">
        <h6 class="color_dark sz22 mb025">John Duarte</h6>
        <p class="color_span sz16"><i class="ai-mention"></i> johnD</p>
    </div>
</div>
<ul>
    <li><a th:href="@{/cuenta}"><i class='bx bx-user-circle'></i> <span>Mi Cuenta</span></a></li>
    <li><a th:href="@{/cuenta}"><i class='bx bx-calendar-alt'></i> <span>Mis sesiones</span></a></li>
    <li><a th:href="@{/cuenta}"><i class='bx bx-help-circle'></i> <span>Ayuda</span></a></li>
    <li><a th:href="@{/cuenta}"><i class='bx bx-wrench'></i> <span>Configuración</span></a></li>
    <li><a th:href="@{/cuenta}"><i class='bx bx-power-off'></i> <span>Cerrar Sesión</span></a></li>
</ul>