<section class="modal_ventana column-8 mc mt2 bg_light">
    <article class="mv_head df jcsb blb1">
        <div class="heading p1">
            <h4 class="font_w600 sz24"> Registrar asesoria </h4>
        </div>
        <a class="btn_cerrar">
            <div class="close color_text"><i class="ai-x-small"></i></div>
        </a>
    </article>
    <article class="mv_body">
        <form method="POST" class="p1" action="/registrar_asesoria">
            <aside class="form_column">
                <input type="hidden" name="idUsuario" th:value="${usuarios.idUsuario}"/>
                <input type="text" name="idProfesor"/>
                <div class="group_2">
                    <label>Tema</label>
                    <input type="text" name="tema"/>
                </div>

                <div class="group_2">
                    <label>Capacidad</label>
                    <input type="number" name="capacidad" />
                </div>

                <div class="group_2">
                    <label>Descripción</label>
                    <textarea name="descripcion"></textarea>
                    <label>Duración</label>
                    <input type="time" name="duracion" />
                    <label class="db mt1">Precio</label>
                    <input type="number" name="precio" step="0.01" min="0"/>
                </div>

                <div class="group_2">
                    <label class="db mb05">Categoria / Curso</label>
                    <article class="body_select">
                        <div class="body_select_contender">
                            <div class="checkbox_content mb2 cgap05 gap025 mt1 ml1">
                                <fieldset class="checkbox_item posit_rel checkbox_item_small" th:each="curso : ${cursos}" style="width: 100px;">
                                    <input type="radio" name="idCurso" th:value="${curso.idCurso}" id="curso-${curso.idCurso}">
                                    <label th:for="${'curso-' + curso.idCurso}" class="p05">
                                        <img class="db height10x br1" th:src="@{'/upload/courses/' + ${curso.imagenCurso}}">
                                        <small class="db" th:text="${curso.nombreCurso}"></small>
                                    </label>
                                </fieldset>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="group_2">
                    <label>Fecha inicial</label>
                    <input type="date" name="fechainicial" />
                </div>
                
                <div class="group_2">
                    <label>Fecha final </label>
                    <input type="date" name="fechafinal" />
                </div>
             

                <div class="users_btn">
                    <button class="button button_2 bg_verify color_light sz16 font_w500" type="submit"> <i class="ai-save"></i> Registrar </button>
                </div>
            </aside>
        </form>
    </article>
</section>
