<section class="modal_completa bg_body">
    
    <article class="contender column-6 mv_body container container_min">
        <ul class="navbar_center">
            <figure class="mt5 mb2">
                <img src="img/logo.png">
            </figure>
        </ul>
        <aside class="form_column">
            <div class="group_2">
                <label>Nombres</label>
                <input type="text" name="nombre" id="nombre" />
            </div>
            <div class="group_2">
                <label>Apellidos</label>
                <input type="text" name="nombre" id="apellidos" />
            </div>
            <div class="group_2">
                <label>Usuario</label>
                <input type="text" name="usuario" id="usuario" />
            </div>

            <div class="group_2">
                <label>Telefono *</label>
                <input type="number" name="telefono" id="telefono" />
            </div>

            <div class="group">
                <label>Selecciona tu país</label>

                <fieldset class="flags_form">
                    
                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/argentina.png">
                            <small>Argentina</small>
                        </label>
                    </div>

                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/bolivia.png">
                            <small>Bolivia</small>
                        </label>
                    </div>

                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/brasil.png">
                            <small>Brasil</small>
                        </label>
                    </div>

                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/chile.png">
                            <small>Chile</small>
                        </label>
                    </div>

                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/colombia.png">
                            <small>Colombia</small>
                        </label>
                    </div>

                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/costarica.png">
                            <small>Costa Rica</small>
                        </label>
                    </div>

                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/cuba.png">
                            <small>Cuba</small>
                        </label>
                    </div>

                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/ecuador.png">
                            <small>Ecuador</small>
                        </label>
                    </div>

                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/elsalvador.png">
                            <small>El Salvador</small>
                        </label>
                    </div>

                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/guatemala.png">
                            <small>Guatemala</small>
                        </label>
                    </div>

                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/honduras.png">
                            <small>Honduras</small>
                        </label>
                    </div>

                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/mexico.png">
                            <small>México</small>
                        </label>
                    </div>

                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/panama.png">
                            <small>Pánama</small>
                        </label>
                    </div>

                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/peru.png">
                            <small>Perú</small>
                        </label>
                    </div>

                    <div class="flags_item">
                        <input type="radio" name="paises" id="paises">
                        <label for="paises">
                            <img src="img/flags/repdominicana.png">
                            <small>República Dominicana</small>
                        </label>
                    </div>



                </fieldset>
            </div>

            <div class="group">
                <label>Email</label>
                <input type="email" name="email" id="email" />
            </div>

            <div class="group_2">
                <label>Contraseña</label>
                <input type="password" name="contrasena" id="contrasena" />
            </div>
            <div class="group_2">
                <label>Repetir Contraseña</label>
                <input type="password" name="contrasena" id="contrasena" />
            </div>
        </aside>
    </article>
    <article class="mv_footer">
        <div class="users_btn">
            <a class="button bg_span color_light_p btn_cerrar sz18"><i class="ai-arrow-left"></i> Atrás </a>
            <button class="button bg_dark sz18" type="submit"> <i class='bx bx-save'></i> Registrar </button>
        </div>
    </article>
</section>
