<section class="modal_completa bg_body">
    
    <article class="contender column-6 mv_body container container_min">
        <ul class="navbar_center">
            <figure class="mt5 mb2">
                <img src="img/logo.png">
            </figure>
        </ul>
        <aside class="form_column">
            <div class="group_2">
                <label>Nombres</label>
                <input type="text" name="nombres" id="nombres" />
                <div id="r_nombres"></div>
            </div>
            <div class="group_2">
                <label>Apellidos</label>
                <input type="text" name="apellidos" id="apellidos" />
                <div id="r_apellidos"></div>
            </div>
            <div class="group_2">
                <label>Usuario</label>
                <input type="text" name="usuario" id="usuario" />
                <div id="r_usuario"></div>
            </div>

            <div class="group_2">
                <label>Telefono </label>
                <input type="number" name="telefono" id="telefono" />
                <div id="r_telefono"></div>
            </div>

            <div class="group">
                <label>Selecciona tu país</label>
                <fieldset class="flags_form">
                    <div th:each="pais : ${paisesList}" class="flags_item">
                        <input type="radio" name="paises" th:id="'pais-' + ${pais.idPais}" th:value="${pais.idPais}">
                        <label th:for="'pais-' + ${pais.idPais}">
                            <img th:src="@{${paisesImages[pais.pais]}}" alt="Flag">
                            <small th:text="${pais.pais}"></small>
                        </label>
                    </div>
                </fieldset>
            </div>

            <div class="group">
                <label>Email</label>
                <input type="email" name="email" id="email" />
                <div id="r_email"></div>
            </div>
            
            <input type="hidden" name="codUsuario"/>
            
            <div class="group_2">
                <label>Contraseña</label>
                <input type="password" name="contrasena" id="password" />
                <div id="r_password"></div>
            </div>
            <div class="group_2">
                <label>Repetir Contraseña</label>
                <input type="password" name="repetircontrasena"/>
            </div>
        </aside>
    </article>
    <article class="mv_footer">
        <div class="users_btn">
            <a class="button bg_span color_light_p btn_cerrar sz18"><i class="ai-arrow-left"></i> Atrás </a>
            <button class="button bg_dark sz18" type="submit"> <i class='bx bx-save'></i> Registrar </button>
        </div>
    </article>
</section>
