<section class="modal_ventana column-11 bg_light">
    <article class="mv_head">
        <a class="btn_cerrar">
            <div class="close color_text"><i class="ai-x-small"></i></div>
        </a>
    </article>
    <article class="mv_body overflow_y" style="height: 90vh;">
        <div style="height: 85vh;">
    <article class="inv_header">
    <div class="inv_date">
        <p class="color_lead sz16">Factura n° <small>1</small></p>
        <small class="color_span">05/06/2024</small>
    </div>
    <div class="inv_act color_span">
        <form action="/recibos/download" method="get">
            <button class="bg_none" type="submit"><i class="bx bx-file-blank"></i></button>
        </form>
        <i class="bx bx-envelope"></i>
        <i class="bx bx-printer"></i>
    </div>
    </article>
    <figure class="inv_logo">
        <img src="img/logo.png">
    </figure>
    <article class="inv_idd">
        <div class="ind_des">
            <p>Factura de </p>
            <p><strong> Ing. <span>Alex Marcos</span></strong></p><br>
            <p class="color_lead sz16">1200 Anfiteatro Parkway
                Mountain View, CA 10486</p>
            <p class="color_lead sz16">Teléfono: +1 888-555-0000</p>
        </div>

        <div class="ind_det">
            <p>Factura Para:</p>
            <p><strong>
                </strong></p>
            <div><strong>Alex Marcos</strong></div><strong>
            </strong>
            <p></p><br>
            <p class="color_lead sz16">Calle Alegada Way
                Filadelfia, PA 10486</p>
            <p class="color_lead sz16">Teléfono: +7 313-020-0207</p>
        </div>
    </article>
    <table class="inv_table">
        <thead>
            <tr>
                <th><i class="ai-hashtag"></i> ID Recibo</th>
                <th>Nombre del Profesor</th>
                <th>Nombre del Estudiante</th>
                <th>Curso</th>
                <th>Precio</th>
                <th>Tema</th>
                <th>Descripción</th>

            </tr>
        </thead>

        <tbody>
            <tr>
            </tr>
            <tr>
                <td>1</td>
                <td>Alex Marcos</td>
                <td>Alex Marcos</td>
                <td>Programacion web</td>
                <td>10.00</td>
                <td>Framework Spring Boot, Java Web application</td>
                <td>Spring Boot es una tecnología y extensión del framework Spring Framework para aplicaciones Java basadas
                    en web que simplifica el proceso de configuración y desarrollo de aplicaciones Java.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Baltazar Jim</td>
                <td>Alex Marcos</td>
                <td>Matemáticas Discretas</td>
                <td>190.00</td>
                <td>Matrices y vectores aplicadas</td>
                <td>Enseñaré a resolver ejercicios sobre Matrices y vectores aplicadas</td>
            </tr>


        </tbody>
    </table>
    <article class="inv_total">
        <div class="inv_des">
            <p class="color_lead">SUBTOTAL</p>
            <p class="color_lead">15% COMISIÓN</p>
            <p> <strong>TOTAL</strong></p>
        </div>
        <div class="inv_pay">
            <small>$15.0</small>
            <small>$2,25</small>
            <p><strong>$17,25</strong></p>
        </div>
    </article>
    <article class="inv_adv">
        <small><strong>COMUNICADO: </strong> El 15% de comisión aportado por el docente via el pago del estudiante,
            se utilizará para mantener el software con mejoras continuas y fortalecerlos de nuevas herramientas.
            Todo para el beneficio del estudiante.</small>
    </article>
    </div>
</article>
</section>