<section class="modal_ventana mc mt2 bg_light">
    <article class="mv_head df jcsb">
        <div class="heading p2">
            <h4 class="color_title mb05 font_w700 sz28">Framework Spring Boot, Java Web application</h4>
            <p class="color_span font_w500">Programación web </p>
        </div>
        <a class="btn_cerrar">
            <div class="close color_text"><i class="ai-x-small"></i></div>
        </a>
    </article>
    <article class="p2">
        <small class="color_span font_w600">Acerca de</small>
        <p class="color_span mt05">Spring Boot es una tecnología y extensión del framework Spring Framework para aplicaciones
        Java basadas en web que simplifica el proceso de configuración y desarrollo de aplicaciones Java.
        </p>
        <div class="df gap2 mt2">
            <div class="dg alit_b">
                <small class="color_span font_w600">Duración</small>
                <p class="color_span mt05 sz15"><i class="ai-calendar"></i> 1 hora, 30 min</p>
            </div>
            <div class="dg alit_b">
                <small class="color_span font_w600">Capacidad</small>
                <p class="color_span mt05 sz15"><i class="ai-people-multiple"></i> 2 personas</p>
            </div>
        </div>
        <div class="df gap2 mt2">
            <div class="dg">
                <small class="color_span font_w600">Precio</small>
                <p class="color_span mt05 sz15"><i class="ai-money"></i> 120.00</p>
            </div>
        </div>
        <div class="df gap2 mt2">
            <div class="dg ">
                <small class="color_span font_w600 mb05">Horario</small>
                <div class="bd1 p1 br1 mb05">
                    <p class="df color_span sz16">Lunes: 12:00 pm - 13:30 pm</p>
                    <p class="df color_span sz16">Martes: 13:30 pm - 15:00 pm</p>
                </div>
            </div>
        </div>
    </article>
</section>