body{
    background: var(--color_body);
}
/*------
NAVIGATION
------ */
.navigation_app {
    position: fixed;
    display: inline-block;
    background: var(--color_body);
    min-height: 100vh;
    z-index: 1;
    width: 15rem;
    border-right: 1px solid var(--color_border);
}
.navigation_app ul {
    margin-top: 6rem;
}
.navigation_app ul li {
    display: grid;
    align-content: center;
    padding: 0.5rem 2rem .5rem 1.2rem;
}
.navigation_app ul li a {
    padding: .45rem;
    border-radius: .5rem;
    font-size: 16px;
    font-weight: 600;
    color: var(--color_span);
    position: relative;
    display: flex;
    align-items: center;
    gap: .75rem;
}

.navigation_app ul li a:hover,
.navigation_app ul li a:focus,
.navigation_app ul li a.active {
    color: var(--color_lead);
    background: var(--color_hover);
}

.navigation_app ul li a:hover span,
.navigation_app ul li a:focus span,
.navigation_app ul li a.active span {
    transform: scale(1);
    opacity: 1;
}

.navigation_app ul li a i {
    font-size: 21px;
}
.logo_app{
    padding: 4rem 1.2rem .65rem 2rem;
}
.logo_app img{
    max-width: 150px;
}
/*------
MAIN WRAPPER
------ */
.main_wrapper {
    position: relative;
    margin-left: 17rem;
}
/*------
HEADER PANEL
------ */
.navigation_panel {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: .5rem 1rem;
    margin-top: .5rem;
    gap: 1.5rem;
    align-items: center;
    z-index: 111;
}
.notification_contender, .profile_contender{
    position: relative;
    display: grid;
    align-items: center;
}
.notification_count{
    position: absolute;
    background: var(--color_danger);
    color: var(--color_light_p);
    width: 1.5rem;
    height: 1.5rem;
    left: .7rem;
    top: -.2rem;
    border-radius: 2rem;
    font: .8rem var(--font_semibold);
    line-height: 1.4rem;
    display: grid;
    justify-content: center;
}
.profile_contender{
    display: flex;
    gap: 1rem;
}
.profile_info, .profile_picture{
    display: grid;
    align-items: center;
}
.profile_info p{
    font-family: var(--font_body);
    color: var(--color_subspan);
    font-weight: 600;
}
.profile_picture img{
    max-width: 45px;
    border-radius: 50%;
    cursor: pointer;
}
.searcher_contender{
    display: flex;
    border-radius: .75rem;
    border: 1px solid var(--color_border);
    height: 40px;
    gap: 1rem;
}
.searcher_icon{
    display: grid;
    align-items: center;
    padding-left: 1rem;
}
.searcher_icon i{
    color: var(--color_span);
}
.searcher{
    display: grid;
}
.searcher input[type="search"]{
    border: none 0;
    padding: 0;  
    width: 100%;
}
/*------
FORM
------ */
.checkbox_content{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: start;
}
.checkbox_item{
    display: grid;
    border: none;
    transition: transform .2s;
}
.checkbox_content .checkbox_item_small{
    width: 70px;
}
.checkbox_item input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}
.checkbox_item:hover {
    transform: scale(1.06);
}
.checkbox_item input[type="radio"]:checked+label, .checkbox_item input[type="checkbox"]:checked+label {
    display: initial;
    border-radius: 3rem;
    outline: 2px solid var(--color_span);
}
.checkbox_item_small input[type="radio"]:checked+label, .checkbox_item_small input[type="checkbox"]:checked+label{
    border-radius: 1rem;
    outline: 1px solid var(--color_span);
    background: var(--color_light);
}
.form_register label{
    display: table;
}
.form_login{
    padding: 1rem 2rem 4rem;
    border-radius: 2rem;
    border: 1px solid var(--color_border);
    box-shadow: var(--box_shadow);
}
.form_login input{
    padding: .75rem;
}
.form_login button{
    padding: .85rem;
    background: var(--color_dark);
    font-size: 18px;
}
/*------
COURSES & COURSE / PROFESSORS & PROFESSOR
------ */
.courses{
    display: flex;
    gap: 1rem;
}
.course_title h3{
     margin-bottom: .25rem;
     font-family: var(--font_regularSans);
}
.courses_category, .professors_category{
    position: relative;
    display: inline-block;
    width: 16%;
}
.courses_category li{
    text-align: left;
    cursor: pointer;
}
.courses_category li a{
    display: grid;
    color: var(--color_span);
    font-size: 16px;
    font-weight: 500;
    padding: .5rem;
    border-radius: .5rem;
}
.courses_item, .theme_item, .professors_item{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}
.item_course, .item_professor{
    position: relative;
    background: var(--color_light);
    box-shadow: var(--box_shadow);
    border-radius: 1.5rem;
    border: 1px solid var(--color_border);
    height: 330px;
    display: block;
    transition: transform 250ms;
    width: 18.8%;
    padding: 1rem;
}
.item_professor{
    padding: 0;
    background: none;
}
.item_course figure, .item_professor figure{
    height: 200px;
    background: no-repeat center / cover;
    border-radius: 1rem;
    margin-bottom: .5rem;
}
.item_course img, .item_professor img{
    height: 220px;
}
.item_professor figure{
    position: relative;
    height: 340px;
    filter: brightness(.8);
    opacity: 0.91;
    border-radius: 2rem;
}
.desc_course, .desc_professor{
    padding: .5rem;
}
.desc_course h5{
    color: var(--color_title);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.25rem;
}
.desc_course p {
    color: var(--color_span);
    font-weight: 500;
    line-height: 2rem;
}
.item_theme {
    position: relative;
    background: var(--color_light);
    box-shadow: var(--box_shadow);
    border-radius: 1rem;
    height: 320px;
    display: block;
    transition: transform 250ms;
    width: 15.6%;
    padding: 1rem;
}
.item_theme .profile_contender{
    position: absolute;
    left: 1rem;
    right: 1rem;
    padding: 0rem;
    bottom: 0;
    margin-bottom: 1.5rem;
}
.item_theme .desc_course h5{
    line-height: 1.65rem;
    font-size: 1.4rem;
}
/*------
Advisory
------ */
.advisory_contender{
    position: relative;
    max-width: 99%;
    padding: 1rem 2rem;
    display: grid;
    min-height: 80vh;
   align-content: center;
   justify-content: center;
}
.advisory_c{
    max-width: 600px;
}
.advisory_c .title h2{
    margin-bottom: 1rem;
}
.desc_theme_m{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    max-width: 80%;
}
.desc_pay, .desc_abi{
    display: flex;
    gap: 1rem;
}
.buttons_contender{
    padding: 1rem 0rem;
}
/*------
Pagination
------ */
.pagination_pages {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -5rem;
    left: 0;
    right: 0;
}

.pagination_pages ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 5px;
}

.pagination_pages li {
    display: inline;
}

.pagination_pages a {
    display: block;
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    color: var(--color_dark);
    font-weight: 500;
    border: 2px solid var(--color_dark);
    border-radius: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.pagination_pages a:hover {
    background-color: var(--color_focus);
    color: var(--color_dark);
}

.pagination_pages a.active {
    background: var(--color_dark);
    color: var(--color_light);
    pointer-events: none;
}
.page_info{
    display: grid;
    align-items: center;
}
/*------
DROPDOW
------ */
.dropdow_menu {
    position: absolute;
    top: 100%;
    width: 100%;
    min-width: 250px;
    box-shadow: var(--box_shadow);
    background: var(--color_body);
    right: 4px;
    margin: 1rem .2rem;
    border-radius: 0.8rem 0.8rem 0.6em 0.6em;
    transition: transform .2s ease-out;
    border: 1px solid var(--color_border);
    opacity: 1;
}
.dropdow_menu ul {
    padding: .5rem;
    border-top: 1px solid var(--color_border);
}
.dropdow_menu ul li {
    padding: .5rem 0 .5rem 0;
}
.dropdow_menu ul li a {
    color: var(--color_subspan);
    font-size: 15px;
    font-weight: 500;
    padding: .8rem;
    border-radius: .5rem;
}
.dropdow_menu ul li a i{
    margin-right: .5rem;
}
.switch_contender {
    border-radius: 1rem;
    background: var(--color_border);
    width: 35px;
    height: 22px;
    padding: .2rem;
    cursor: pointer;
    gap: .125rem;
}
.switch_l, .switch_r {
    background: var(--color_light);
    border-radius: 50%;
    width: 15px;
    height: 15px;
}