body{
    background: var(--color_body);
}
/*------
NAVIGATION
------ */
.navigation_app {
    position: fixed;
    display: inline-block;
    background: var(--color_light);
    min-height: 100vh;
    z-index: 1;
}

.navigation_app ul {
    margin-top: 8rem;
}

.navigation_app ul li {
    display: grid;
    align-content: center;
    padding: 0.5rem 1.2rem;
    padding-right: 2rem;
}

.navigation_app ul li:nth-child(5) {
    margin-top: 4rem;
    padding-top: 1.25rem;
}

.navigation_app ul li a {
    padding: .6rem;
    border-radius: 8px;
    font-family: var(--font_medium);
    font-size: 18px;
    color: var(--color_text);
    position: relative;
    display: flex;
    align-items: center;
    gap: .75rem;
}

.navigation_app ul li a:hover,
.navigation_app ul li a:focus,
.navigation_app ul li a.active {
    background: var(--color_dark);
    color: var(--color_light);
}

.navigation_app ul li a:hover span,
.navigation_app ul li a:focus span,
.navigation_app ul li a.active span {
    transform: scale(1);
    opacity: 1;
}

.navigation_app ul li a i {
    font-size: 1.6rem;
}
.logo_app{
    padding: .65rem 1.2rem;
    padding-left: 2rem;
    padding-top: 2rem;
}
.logo_app img{
    max-width: 150px;
}
/*------
MAIN WRAPPER
------ */
.main_wrapper {
    position: relative;
    margin-left: 15.2rem;
}
/*------
HEADER PANEL
------ */
.navigation_panel {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1.5rem 2rem;
    gap: 1.5rem;
    align-items: center;
}
.notification_contender, .profile_contender{
    position: relative;
    display: grid;
    align-items: center;
}
.notification_count{
    position: absolute;
    background: var(--color_danger);
    color: var(--color_light_p);
    width: 1.5rem;
    height: 1.5rem;
    left: .7rem;
    top: -.2rem;
    border-radius: 2rem;
    font-family: var(--font_semibold);
    font-size: .8rem;
    line-height: 1.4rem;
    display: grid;
    justify-content: center;
}
.profile_contender{
    display: flex;
    gap: 1rem;
}
.profile_info, .profile_picture{
    display: grid;
    align-items: center;
}
.profile_info p{
    font-family: var(--font_semibold);
    color: var(--color_span);
    text-align: right;
}
.profile_info h6{
    font-size: 20px;
    font-weight: 600;
}
.profile_picture img{
    max-width: 60px;
    border-radius: 50%;
}
.searcher_contender{
    display: flex;
    border-radius: .75rem;
    border: 2px solid var(--color_input);
    height: 45px;
    gap: 1rem;
    min-width: 350px;
}
.searcher_icon{
    display: grid;
    align-items: center;
    padding-left: 1rem;
}
.searcher_icon i{
    color: var(--color_span);
}
.searcher{
    display: grid;
}
.searcher input[type="search"]{
    border: none;
    border-radius: 0;
    padding: 0;  
    width: 140%;
}
/*------
FORM
------ */
.users_form{
    display: flex;
    gap: 2.4rem;
    padding-bottom: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.user_contender, .flags_form{
    position: relative;
    display: inline;
    text-align: center;
    border: none;
    transition: transform .2s;
}
.user_contender:hover{
    transform: scale(1.06);
}
.user_contender input, .flags_item input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}
.user_contender img{
    width: 360px;
    border-radius: 3rem;
}
.user_contender input[type="radio"]:checked+label {
    display: block;
    border-radius: 3rem;
    outline: 2px solid var(--color_fifth);
}
.user_contender input[type="radio"]:checked+label h5 {
    color: var(--color_fifth);
}
.user_contender h5{
    color: var(--color_dark);
    font-family: var(--font_regularSans);
    padding: 1rem;
}
.users_btn{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}
.flags_form{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 1rem;
}
.flags_item{
    display: grid;
    position: relative;
    border-radius: .5rem;
    width: 60px;
}
.flags_item label{
    padding: .5rem;
}
.flags_item label img{
    width: 40px;
    border-radius: 50%;
}
.flags_item small {
    color: var(--color_span);
    display: block;
    margin-top: .3rem;
}
.flags_form input[type="radio"]:checked+label {
    display: block;
    border-radius: 1rem;
    outline: 2px solid var(--color_focus);
    background: var(--color_light);
}
.flags_form input[type="radio"]:checked+label small {
    color: var(--color_dark);
}
.form_login{
    padding: 1rem 2rem 4rem;
    border-radius: 2rem;
    background: var(--color_light);
}
.form_login input{
    padding: .9rem;
    margin: .7rem auto;
}
.form_login button{
    padding: 1rem;
    font-size: 19px;
    background: var(--color_dark);
    font-family: var(--font_semibold)!important;
}
/*------
COURSES & COURSE
------ */
.courses, .course{
    display: flex;
    gap: 2rem;
}
.course_title h3{
     margin-bottom: .25rem;
     font-family: var(--font_regularSans);
}
.courses_category{
    position: relative;
    display: inline-block;
    padding-left: 1rem;
    margin-top: 1rem;
    width: 12%;
}
.courses_category li{
    font-size: 20px;
    color: var(--color_text);
    font-family: var(--font_medium);
    text-align: left;
    cursor: pointer;
    padding-bottom: 1rem;
}
.courses_item, .theme_item{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}
.item_course{
    position: relative;
    background: var(--color_light);
    box-shadow: var(--box_shadow);
    border-radius: 2rem;
    height: 360px;
    display: block;
    transition: transform 250ms;
    width: 18.8%;
    padding: 1rem;
}
.item_course figure{
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem;
    margin-bottom: 1rem;
}
.item_course img{
    height: 220px;
}
.desc_course{
    padding: .5rem;
}
.desc_course h5{
    font-size: 1.65rem;
    line-height: 1.35rem;
    color: var(--color_dark);
    font-family: var(--font_semibold);
}
.desc_course p {
    color: var(--color_span);
    font-family: var(--font_bold);
    line-height: 2rem;
}
.item_theme {
    position: relative;
    background: var(--color_light);
    box-shadow: var(--box_shadow);
    border-radius: 1rem;
    height: 320px;
    display: block;
    transition: transform 250ms;
    width: 18.5%;
    padding: 1rem;
}
.course_title{
    width: 20%;
    display: grid;
    align-items: center;
}
.course_title .title{
    padding-top: 4rem;
}
.item_theme .profile_contender{
    position: absolute;
    left: 1rem;
    right: 1rem;
    padding: 0rem;
    bottom: 0;
    margin-bottom: 1.5rem;
}
.item_theme .desc_course h5{
    line-height: 1.65rem;
}
