@import url(fonts.css);
@import url(colors.css);
@import url(akar-icons.css);
@import url(keenicons.css);
@import url(boxicons.css);
@import url(responsive.css);
@import url(windows.css);
@import url(invoice.css);
*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 4rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4rem;
    background-color: var(--color_border);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color_subspan);
}
:root {
    --height_unit: 10px;
}
body {
    background: var(--color_index);
    position: relative;
    font-family: var(--font_body);
    color: var(--color_dark);
}
header {
    width: 100%;
    z-index: 2;
}

main {
    position: relative;
}
.main {
    position: relative;
    align-content: center;
    display: grid;
    min-height: 98vh;
    overflow: hidden;
}
.contender_c{
    min-height: 100vh;
    align-items: center;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}
input,
button {
    outline: none;
    border: none;
}
button{
    cursor: pointer;
}
img {
    max-width: 100%;
    object-fit: cover;
}
p{font-size: 17px;}

.container {
    width: 98%;
    max-width: 1650px;
    margin: 0 auto;
}

.container_max {
    max-width: 1800px;
}

.container_min {
    max-width: 1400px;
}

.hidden {
    display: none;
}
/*------
SPACES
------ */
.tc{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right;}
.mc{margin: 0 auto;}
.mt05{margin-top:.5rem;}
.mt1{margin-top: 1rem;}
.mt2{margin-top: 2rem;}
.mt3{margin-top: 3rem;}
.mt4{margin-top: 4rem;}
.mt5{margin-top: 5rem;}
.mt10{margin-top: 10rem;}
.mb025{margin-bottom: .25rem;}
.mb05{margin-bottom: .5rem;}
.mb1{margin-bottom: 1rem;}
.mb2{margin-bottom: 2rem;}
.mb3{margin-bottom: 3rem;}
.mb4{margin-bottom: 4rem;}
.mb5{margin-bottom: 5rem;}
.mb10{margin-bottom: 10rem;}
.ml1{margin-left: 1rem;}
.ml2{margin-left: 2rem;}
.ml3{margin-left: 3rem;}
.ml4{margin-left: 4rem;}
.ml5{margin-left: 5rem;}
.ml10{margin-left: 10rem;}
.mr1{margin-right: 1rem;}
.mr2{margin-right: 2rem;}
.mr3{margin-right: 3rem;}
.mr4{margin-right: 4rem;}
.mr5{margin-right: 5rem;}
.mr10{margin-right: 10rem;}
.p05{padding: .5rem;}
.p1{padding: 1rem;}
.p2{padding: 2rem;}
.pt05{padding-top: .5rem;}
.pb05{padding-bottom: .5rem;}
.jcc{justify-content: center!important;}
.jcr{justify-content: right!important;}
.jcl{justify-content: left!important;}
.jcsb{justify-content: space-between!important;}
/*------
BUTTONS
------ */

.button{
    padding: 5px 8px;
    border-radius: .7rem;
    font-weight: 600;
    color: var(--color_span);
    display: inline-block;
}
.button_2{
    padding: 12px 14px;
}
.button .icon{
    font-size: 16px;
    opacity: .92;
    padding-right: 5px;
}
.bd1{border: 1px dashed var(--color_border);}
.bd2{border: 2px dashed var(--color_border);}
.b1{border: 1px solid var(--color_border);}
.b2{border: 2px solid var(--color_border);}
.brs1{border-right: 1px solid var(--color_border);}
.bls1{border-left: 1px solid var(--color_border);}
.blt1{border-top: 1px solid var(--color_border);}
.blb1{border-bottom: 1px solid var(--color_border);}
.br075{border-radius: .75rem;}
.br05{border-radius: .5rem;}
.br1{border-radius: 1rem;}
.br2{border-radius: 2rem;}
.br3{border-radius: 3rem;}
.br50{border-radius: 50%;}
.brr1{border-radius: 1rem 0rem 0rem 1rem;}
.brr2{border-radius: 2rem 0rem 0rem 2rem;}
.brl1{border-radius: 0rem 1rem 1rem 0rem;}
.brl2{border-radius: 0rem 2rem 2rem 0rem;}
.bn{border-radius: 0!important;}
.b0{border: 0px!important;}
/*------
COLUMNS
------ */
.column {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: auto;
}
.column-12 {width: 100%;}
.column-11 {width: 91.66666666666667%;}
.column-10 {width: 83.3333333%;}
.column-9 {width: 75%;}
.column-8 {width: 66.666667%;}
.column-7 {width: 58.33333365%;}
.column-6 {width: 50%;}
.column-5 {width: 41.66666665%;}
.column-4 {width: 33.33333%;}
.column-3 {width: 25%;}
.column-2 {width: 16.666667%;}
.column-s-2 {width: 20%;}
.column-1 {width: 8.333333333333334%;}

.column_w{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1%;
}
.column_w90{width: calc(90% - 1%);}
.column_w75{width: calc(75% - 1%);}
.column_w55{width: calc(55% - 1%);}
.column_w50{width: calc(50% - 1%);}
.column_w33{width: calc(33.33333% - 1%);}
.column_w25{width: calc(25% - 1%);}
.column_w20{width: calc(20% - 1%);}
.column_w16{width: calc(16.666667% - 1%);}
.column_w15{width: calc(15% - 1%);}
.column_w14{width: calc(14.28571428571429% - 1%);}
.column_w12{width: calc(12.5% - 1%);}
.column_w10{width: calc(10% - 1%);}

/*------
FORMS & INPUTS
------ */
.form_column{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}
.form_column .group_2{
    width: 49%;
    margin-bottom: 1rem;
}
.form_column .group {
    width: 99.8%;
    margin-bottom: 1rem;
    position: relative;
}
form label {
    color: var(--color_subtitle);
    font-size: .9rem;
    font-weight: 600;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="search"],
input[type="time"] {
    width: 100%;
    padding: .6rem;
    margin: .4rem auto;
    border: 1px solid var(--color_border);
    font: .96rem var(--font_body);
    font-weight: 600;
    border-radius: .5rem;
    color: var(--color_dark);
    background: transparent;
}
input[type="radio"] {
    opacity: 0;
}
input::placeholder {
    color: var(--color_span);
}

textarea {
    width: 100%;
    padding: .8rem;
    margin: .8rem auto;
    border: 1px solid var(--color_border);
    font-size: 17px;
    font-weight: 500;
    border-radius: .5rem;
    color: var(--color_dark);
    background: transparent;
    height: 200px;
    outline: transparent;
    font-family: var(--font_body);
}
.checkbox_radio label {
      cursor: pointer;
      color: var(--color_border);
      font-size: 16px;
  }

.checkbox_radio label::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border: 2px solid var(--color_border);
      border-radius: 50%;
  }
  .checkbox_radio input[type="radio"]:checked+label::before {
      border-color: var(--color_primary);
      background-color: var(--color_primary);
  }

  .checkbox_radio input[type="radio"]:checked+label::after {
      content: '';
      position: absolute;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--color_light);
  }

  .custom-select {
      width: 100%;
      padding: 10px;
      border: 1px solid var(--color_border);
      border-radius: 4px;
      appearance: none;
      background: var(--color_light);
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>');
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 16px 16px;
      cursor: pointer;
      font-family: var(--font_body);
      font-size: 16px;
      font-weight: 500;
  }

  .custom-select:focus {
      border-color: var(--color_span);
      outline: none;
      box-shadow: var(--box_shadow);
  }

.profile-pic-container {
    position: relative;
    width: 150px;
    height: 150px;
}

#profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    border: 2px solid var(--color_border);
    box-shadow: var(--box_shadow);
}

#file-input {
    display: none;
}

label[for="file-input"] {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.edit-icon {
    font-size: 16px;
    color: #000;
}
/*------
POSITIONS
------ */
.posit_abs{position: absolute;}
.posit_rel{position: relative;}
.left1{left: 1rem;}
.left2{left: 2rem;}
.left3{left: 3rem;}
.right1{right: 1rem;}
.right2{right: 2rem;}
.right3{right: 3rem;}
.top0{top: 0rem;}
.top1{top: 1rem;}
.top2{top: 2rem;}
.top3{top: 3rem;}
.bottom1{bottom: 1rem;}
.bottom2{bottom: 2rem;}
.bottom3{bottom: 3rem;}
/*------
HEIGHTS
------ */
.height015x{height: calc(var(--height_unit) * 1.5) !important; }
.height2x{height: calc(var(--height_unit) * 2) !important; }
.height3x{height: calc(var(--height_unit) * 3) !important; }
.height4x{height: calc(var(--height_unit) * 4) !important; }
.height5x{height: calc(var(--height_unit) * 5) !important; }
.height10x{height: calc(var(--height_unit) * 10) !important; }
.height15x{height: calc(var(--height_unit) * 15) !important; }
.height20x{height: calc(var(--height_unit) * 20) !important; }
.height30x{height: calc(var(--height_unit) * 30) !important; }
.height40x{height: calc(var(--height_unit) * 40) !important; }
.height45x{height: calc(var(--height_unit) * 45) !important; }
.height50x{height: calc(var(--height_unit) * 50) !important; }
/*------
DISPLAYS
------ */
.df{display: flex;}
.dg{display: grid;}
.dt{display: table;}
.dc{display: contents;}
.dif{display: inline-flex;}
.dib{display: inline-block;}
.db{display: block;}
.cgap05{column-gap: .5rem;}
.gap025{gap: .25rem;}
.gap05{gap: .5rem;}
.gap1{gap: 1rem;}
.gap2{gap: 2rem;}
.gap3{gap: 3rem;}
.alit_b{align-items: baseline;}
.alit_c{align-items: center;}