.invoice{
    position: relative;
    background: var(--color_light);
    box-shadow: var(--box_shadow);
    border: 1px solid rgba(0, 0, 0, .063);
    padding: 1rem;
    border-radius: .45rem;
}
.inv_header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
        .inv_date{
            display: grid;
        }
        .inv_act{
            display: flex;
            gap: .3rem;
        }
}
.inv_logo{
    padding: 2rem 1rem;
    filter: var(--filter);
}
.inv_idd{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 1rem 2rem;
    max-width: 75%;
        .ind_des {
            display: grid;
            align-items: center;
            max-width: 220px;
        }
    
        .ind_det {
            display: grid;
            align-items: end;
            max-width: 220px;
        }
}
.inv_table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    thead{
        th {
            vertical-align: bottom;
            border-top: 1px solid #e9ecef;
            border-bottom: 2px solid #e9ecef;
            padding: 1rem;
            text-align: left;
            }
    }

    tbody{
        tr{
            td {
                padding: 1rem;
            }
        }
        tr:nth-of-type(odd) {
                background-color: rgb(176 187 217 / 16%);
        }
    }
}
.inv_total{
    display: flex;
    justify-content: right;
    gap: 1rem;
    padding: 1rem 5rem 3rem;
        .inv_des p{
            line-height: 25px;
            font-size: 16px;
        }
        .inv_pay small{
            display: block;
            font-size: 15px;
            color: var(--color_lead);
            line-height: 25px;
        }
}
.inv_adv{
    padding: 1rem;
    border-top:1px solid rgba(0, 0, 0, .063);
    small{
        color: var(--color_text);
        font-size: 14px;
    }
}