<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis asesorias | Nextclass</title>
    <link th:include="components/link"></link>
</head>
<body class="light_mode">
    <header th:include="components/menu_app"></header>
    <main class="main_wrapper">
        <header th:include="components/nav_panel"></header>
        <article class="title_page df jcsb mt1">
            <div class="dg">
                <small class="df alit_c gap025 font_w500 mb05 color_subspan">
                    <i class="ki-outline ki-home color_span"></i>
                    <i class="ki-outline ki-right sz10 color_span"></i>
                    <span>App</span>
                </small>
                <h6 class="color_subtitle font_w600">Asesorias</h6>
            </div>
            <div class="df gap025">
                <button class="button bg_primary color_light btn_abrir"><i class="ai-plus sz20"></i>Añadir</button>
                <main class="modal_ventana_content hidden" id="modal" th:include="components/registrar_asesoria"></main>
                <button class="button"><i class="ki-outline ki-element-plus sz20"></i></button>
            </div>
        </article>
        <section class="consultancies">
            <table class="inv_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Asesoria</th>
                        <th>Sesiones</th>
                        <th>Curso /Categoria</th>
                        <th>Duración</th>
                        <th>Inscripciones</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr>
                    </tr>
                    <tr>
                        <td><i class="ai-hashtag"></i>1</td>
                        <td>Framework JSF
                        Java Server Face</td>
                        <td>
                        <a class="button button_2 bg_hover color_dark sz12 btn_abrir"><i class="ki-filled ki-plus"></i></a>
                        <main class="modal_ventana_content hidden" id="modal" th:include="components/registrar_sesion"></main>
                        </td>
                        <td><strong class="font_w600">Programacion web</strong> <br/> <span class="color_subspan">Tecnología</span> </td>
                        <td>1h,30 min</td>
                        <td class="df gap05">
                            <div class="profile_picture">
                                <img src="upload/students/estudiante.jpg" alt="Foto del profesor">
                            </div>
                            <div class="profile_picture">
                                <img src="upload/students/estudiante4.jpg" alt="Foto del profesor">
                            </div>
                        </td>
                        <td>$$ 180.00</td>
                        <td>
                            <div class="df gap05">
                                <a><i class="ai-eye-open"></i></a>
                                <a><i class="ai-pencil"></i></a>
                                <a><i class="ai-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><i class="ai-hashtag"></i>2</td>
                        <td>SCRUM, Metodología agil para  el desarrollo</td>
                        <td>
                            <a class="button button_2 bg_hover color_dark sz12 btn_abrir"><i class="ki-filled ki-plus"></i></a>
                            <main class="modal_ventana_content hidden" id="modal" th:include="components/registrar_sesion"></main>
                        </td>
                        <td><strong class="font_w600">Consultoria y Estrategia</strong> <br /> <span class="color_subspan">Negocios</span> </td>
                        <td>1h, 00 min</td>
                        <td>
                            Sin Inscripciones
                        </td>
                        <td>$$ 180.00</td>
                        <td>
                            <div class="df gap05">
                                <a><i class="ai-eye-open"></i></a>
                                <a><i class="ai-pencil"></i></a>
                                <a><i class="ai-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="consultancies">
            <table class="inv_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Asesoria</th>
                        <th>Curso /Categoria</th>
                        <th>Profesor</th>
                        <th>Monto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr>
                    </tr>
                    <tr>
                        <td><i class="ai-hashtag"></i>1</td>
                        <td>Framework JSF
                            Java Server Face</td>
                        <td><strong class="font_w600">Programacion web</strong> <br /> <span
                                class="color_subspan">Tecnología</span> </td>
                        <td>
                            <div class="profile_contender">
                                <div class="profile_picture">
                                    <img src="upload/professors/docente.jpg" alt="Foto del profesor">
                                </div>
                                <div class="profile_info">
                                    <strong class="font_w600">Baltazar Jim Perrez Quispe</strong>
                                    <small class="color_subspan">Ing. Computación</small>
                                </div>
                            </div>
                        </td>
                        <td>$$ 180.00</td>
                        <td>
                            <div class="df gap05">
                                <a><i class="ai-eye-open"></i></a>
                                <a><i class="ai-pencil"></i></a>
                                <a><i class="ai-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
        
                    <tr>
                        <td><i class="ai-hashtag"></i>2</td>
                        <td>SCRUM, Metodología agil para el desarrollo</td>
                        <td><strong class="font_w600">Consultoria y Estrategia</strong> <br /> <span
                                class="color_subspan">Negocios</span> </td>
                        <td>
                            <div class="profile_contender">
                                <div class="profile_picture">
                                    <img src="upload/professors/docente13.jpg" alt="Foto del profesor">
                                </div>
                                <div class="profile_info">
                                    <strong class="font_w600">Maria Elena Diaz Limas</strong>
                                    <small class="color_lead">Lic. Administración</small>
                                </div>
                            </div>
                        </td>
                        <td>$$ 180.00</td>
                        <td>
                            <div class="df gap05">
                                <a><i class="ai-eye-open"></i></a>
                                <a><i class="ai-pencil"></i></a>
                                <a><i class="ai-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <links th:include="components/footer"></links>
</body>
</html>