<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proposiciones simples y complejas | Nextclass</title>
    <links th:include="components/link"></links>
</head>

<body class="light_mode">
    <header th:include="components/menu_app"></header>
    <main class="main_wrapper">
        <header th:include="components/nav_panel"></header>
        <section class="advisory">
            <div class="advisory_contender">
                <div class="advisory_c">
                    <article class="title">
                        <h2>Transformación a diferentes sistemas númericos</h2>
                        <h6 class="color_span font_rs">Algebra Lineal <span class="sz18">|</span> Ciencia</h6>
                    </article>

                    <article class="desc_theme">
                       <p class="sz18"> Java Server Faces es una tecnología y framework para aplicaciones
                        Java basadas en web que simplifica el desarrollo de interfaces de
                        usuario en aplicaciones Java EE .
                        </p>
                    </article>

                    <article class="profile_contender">
                        <div class="profile_picture">
                            <img src="upload/professors/docente.jpg">
                        </div>
                        <div class="profile_info">
                            <h6 class="color_dark sz18">Marcos Salvatierra Rua Limas</h6>
                            <small class="color_lead">Matemático</small>
                        </div>
                    </article>

                    <article class="desc_prof">
                        <p class="color_lead sz18">En esta asesoria despejarás dudas de como implentar
                        JSF, configurar correctamente el entorno de desarrollo.
                        Además de consultarme en vivo cualquier
                        problema ocurrido.</p>
                    </article>

                    <article class="desc_theme_m">
                        <div class="desc_pay">
                            <div class="pay_t">
                                <p>Precio:</p>
                            </div>
                            <div class="pay_m">
                                <p><strong>10.0 US$</strong></p>
                                <small>Costo x Hora</small>
                            </div>
                        </div>
                        <div class="desc_abi">
                            <p>Capacidad: <strong>2 max</strong> </p>
                        </div>
                    </article>
                    <article class="buttons_contender">
                        <a class="button button_2 bg_fifth" id="btn-abrir"><i class="ai-paper-airplane"></i> Inscribirse</a>
                    </article>

                </div>
            </div>
        </section>
    </main>
    <links th:include="components/footer"></links>
</body>

</html>