<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis asesorias | Nextclass</title>
    <link th:include="components/link">
    </link>
</head>

<body class="light_mode">
    <header th:include="components/menu_app"></header>
    <main class="main_wrapper">
        <header th:include="components/nav_panel"></header>
        <article class="title_page df jcsb mt1">
            <div class="dg">
                <small class="df alit_c gap025 font_w500 mb05 color_subspan">
                    <i class="ki-outline ki-home color_span"></i>
                    <i class="ki-outline ki-right sz10 color_span"></i>
                    <span>App</span>
                </small>
                <h6 class="color_subtitle font_w600">Asesorias</h6>
            </div>
            <div class="df gap025" th:if="${usuarios.tipoUsuario == 'Profesor'}">
                <button class="button bg_primary color_light btn_abrir"><i class="ai-plus sz20"></i>Añadir</button>
                <main class="modal_ventana_content hidden" id="modal" th:include="components/registrar_asesoria"></main>
                <button class="button"><i class="ki-outline ki-element-plus sz20"></i></button>
            </div>
        </article>

        <section class="consultancies">
            <table class="inv_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Asesoria</th>
                        <th th:if="${usuarios.tipoUsuario == 'Profesor'}">Sesiones</th>
                        <th>Curso /Categoria</th>
                        <th th:if="${usuarios.tipoUsuario == 'Profesor'}">Duración</th>
                        <th th:if="${usuarios.tipoUsuario == 'Profesor'}">Inscripciones</th>
                        <th th:if="${usuarios.tipoUsuario == 'Estudiante'}">Profesor</th>
                        <th>Monto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="asesoria : ${asesorias}">
                        <td><i class="ai-hashtag"></i><span th:text="${asesoria.idAsesoria}"></span></td>
                        <td th:text="${asesoria.tema}"></td>
                        <td th:if="${usuarios.tipoUsuario == 'Profesor'}">
                            <a class="button button_2 bg_hover color_dark sz12 btn_abrir"><i
                                    class="ki-filled ki-plus"></i></a>
                            <main class="modal_ventana_content hidden" id="modal"
                                th:include="components/registrar_sesion"></main>
                        </td>
                        <td>
                            <strong class="font_w600" th:text="${asesoria.nomCurso}">Curso</strong> <br />
                            <span class="color_subspan" th:text="${asesoria.categoriaCurso}"></span>
                        </td>
                        <td th:if="${usuarios.tipoUsuario == 'Profesor'}" th:text="${asesoria.duracion}"></td>
                        <td th:if="${usuarios.tipoUsuario == 'Profesor'}" class="df gap05">
                            <div class="profile_picture">
                                <img src="upload/students/estudiante.jpg" alt="Foto del profesor">
                            </div>
                            <div class="profile_picture">
                                <img src="upload/students/estudiante4.jpg" alt="Foto del profesor">
                            </div>
                        </td>
                        <td th:if="${usuarios.tipoUsuario == 'Estudiante'}">
                            <div class="profile_contender">
                                <div class="profile_picture">
                                    <img th:src="@{'upload/professors/' + ${asesoria.fotoPerfil}}" alt="Foto del profesor">
                                </div>
                                <div class="profile_info">
                                    <strong class="font_w600" th:text="${asesoria.nombres}"></strong>
                                    <small class="color_subspan" th:text="${asesoria.profesion}"></small>
                                </div>
                            </div>
                        </td>
                        <td>$$ <span th:text="${asesoria.precio}"></span></td>
                        <td>
                            <div class="df gap05">
                                <a class="btn_abrir"><i class="ai-eye-open"></i></a>
                                <main class="modal_ventana_content hidden" id="modal"
                                    th:include="components/ver_asesoria"></main>
                                <a class="btn_abrir" th:if="${usuarios.tipoUsuario == 'Profesor'}"><i class="ai-pencil"></i></a>
                                <main class="modal_ventana_content hidden" id="modal" th:if="${usuarios.tipoUsuario == 'Profesor'}"
                                    th:include="components/editar_asesoria"></main>
                                <a class="btn_abrir"><i class="ai-trash-can"></i></a>
                                <main class="modal_ventana_content hidden" id="modal"
                                th:include="components/eliminar_asesoria"></main>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <links th:include="components/footer"></links>
</body>

</html>