<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cursos | Nextclass</title>
    <link th:include="components/link"></link>
</head>
<body class="light_mode">
    <header th:include="components/menu_app"></header>
    <main class="main_wrapper">
        <header th:include="components/nav_panel"></header>
        <div class="title_page">
            <h5 class="color_lead font_b">Cursos</h5>
        </div>
        <section class="courses">
            <ul class="courses_category">
                <h6 class="sz16 color_lead">CATEGORIA</h6><br>
                <div class="pt1">
                    <li class="category-btn" th:classappend="${'all' == selectedCategoria} ? 'active'" data-filter="all">
                        <a th:href="@{/cursos(page=1, categoria='all')}">Todos</a>
                    </li>
                    <th:block th:each="categoria : ${categorias}">
                        <li class="category-btn" th:classappend="${categoria.categoriaCurso == selectedCategoria} ? 'active'"
                            th:data-filter="${categoria.categoriaCurso}">
                            <a th:href="@{/cursos(page=1, categoria=${categoria.categoriaCurso})}" th:classappend="${categoria.categoriaCurso == selectedCategoria} ? 'color_lead'" th:text="${categoria.categoriaCurso}">Nombre de la Categoría</a>
                        </li>
                    </th:block>
                </div>
                <div class="posit_rel bg_secondary br2 height20x">
                    <h5 class="color_light_p p1 font_rs">Asesorias personalizadas <br/><strong>24/7</strong></h5>
                    <figure class="posit_abs top3 mt3 right1">
                        <img class="height30x" src="img/widget_item.svg">
                    </figure>
                </div>
            </ul>
        
            <div class="courses_item">
                <div th:each="curso : ${cursos}" class="item_course" th:class="'item_course ' + ${curso.categoriaCurso}">
                    <a th:href="@{'/curso?curso=' + ${curso.nombreCurso}}">
                        <figure th:style="'background-image:url(upload/courses/' + ${curso.imagenCurso} + ');'"></figure>
                        <div class="desc_course">
                            <h5 th:text="${curso.nombreCurso}"></h5>
                            <p th:text="${curso.categoriaCurso}"></p>
                        </div>
                    </a>
                </div>
            </div>
        
            <div class="pagination_pages" th:if="${showPagination}">
                <ul>
                    <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{/cursos(page=${i}, categoria=${selectedCategoria})}" th:text="${i}"
                            th:classappend="${i == currentPage} ? 'active'"></a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <links th:include="components/footer"></links>
</body>
</html>