<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${curso}">Curso</title>
    <link th:include="components/link"></link>
</head>

<body class="light_mode">
    <header th:include="components/menu_app"></header>
    <main class="main_wrapper">
        <header th:include="components/nav_panel"></header>
        <section class="course">

            <div class="course_title">
                <div class="title">
                    <h2 th:text="${curso}"></h2>
                    <h6 class="color_lead">Ciencia</h6>
                </div>
            </div>

            <div class="theme_item">

                <a th:href="@{/asesoria}" class="item_theme">
                    <div class="desc_course">
                        <h5 class="font_b">Bases ortonormales y el método de Gram-Schmidt</h5><br>
                        <img src="img/stars.png">
                    </div>
                    <div class="profile_contender">
                
                        <div class="profile_picture">
                            <img src="upload/professors/docente7.jpg">
                        </div>
                
                        <div class="profile_info">
                            <h6 class="color_dark sz18">Diaman Lucas Diaz Montes</h6>
                            <small class="color_lead">Matemático</small>
                        </div>
                    </div>
                </a>

            </div>
           

        </section>
    </main>
    <links th:include="components/footer"></links>
</body>

</html>