<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algebra Lineal | Nextclass</title>
    <link th:include="components/link"></link>
</head>

<body class="light_mode">
    <header th:include="components/menu_app"></header>
    <main class="main_wrapper">
        <header th:include="components/nav_panel"></header>
        <section class="course">

            <div class="course_title">
                <div class="title">
                    <h3>Algebra Lineal</h3>
                    <h6 class="color_lead">Ciencia</h6>
                </div>
            </div>

            <div class="theme_item">

                <a th:href="@{/asesoria}" class="item_theme">
                    <div class="desc_course">
                        <h5 class="font_b">Proposiciones simples y complejas</h5><br>
                        <img src="img/stars.png">
                    </div>
                    <div class="profile_contender">

                        <div class="profile_picture">
                            <img src="upload/professors/docente.jpg">
                        </div>

                        <div class="profile_info">
                            <h6 class="color_dark sz18">Marcos Salvatierra Rua Limas</h6>
                            <small class="color_lead">Matemático</small>
                        </div>
                    </div>
                </a>

                <a th:href="@{/asesoria}" class="item_theme">
                    <div class="desc_course">
                        <h5 class="font_b">Transformación a diferentes sistemas númericos</h5><br>
                        <img src="img/stars.png">
                    </div>
                    <div class="profile_contender">
                
                        <div class="profile_picture">
                            <img src="upload/professors/docente2.jpg">
                        </div>
                
                        <div class="profile_info">
                            <h6 class="color_dark sz18">Diana Anderson Reyes</h6>
                            <small class="color_lead">Ing. Computacional</small>
                        </div>
                    </div>
                </a>

                <a th:href="@{/asesoria}" class="item_theme">
                    <div class="desc_course">
                        <h5 class="font_b">Combinaciones lineales y espacios generados</h5><br>
                        <img src="img/stars.png">
                    </div>
                    <div class="profile_contender">
                
                        <div class="profile_picture">
                            <img src="upload/professors/docente3.jpg">
                        </div>
                
                        <div class="profile_info">
                            <h6 class="color_dark sz18">Aurelio Alexander Rojas Diaz</h6>
                            <small class="color_lead">Fisico Matemático</small>
                        </div>
                    </div>
                </a>

                <a th:href="@{/asesoria}" class="item_theme">
                    <div class="desc_course">
                        <h5 class="font_b">Matrices para resolver sistemas por eliminación</h5><br>
                        <img src="img/stars.png">
                    </div>
                    <div class="profile_contender">
                
                        <div class="profile_picture">
                        <img src="upload/professors/docente4.jpg">
                        </div>
                
                        <div class="profile_info">
                            <h6 class="color_dark sz18">Dayron Cameron Warner Lopez</h6>
                            <small class="color_lead">Matemático</small>
                        </div>
                    </div>
                </a>

                <a th:href="@{/asesoria}" class="item_theme">
                    <div class="desc_course">
                        <h5 class="font_b">Dependencia e independencia lineal</h5><br>
                        <img src="img/stars.png">
                    </div>
                    <div class="profile_contender">
                
                        <div class="profile_picture">
                            <img src="upload/professors/docente5.jpg">
                        </div>
                
                        <div class="profile_info">
                            <h6 class="color_dark sz18">Steven Abner Santos Jaimes</h6>
                            <small class="color_lead">Ing. Físico</small>
                        </div>
                    </div>
                </a>

                <a th:href="@{/asesoria}" class="item_theme">
                    <div class="desc_course">
                        <h5 class="font_b">Ejemplos de transformaciones lineales</h5><br>
                        <img src="img/stars.png">
                    </div>
                    <div class="profile_contender">
                
                        <div class="profile_picture">
                            <img src="upload/professors/docente6.jpg">
                        </div>
                
                        <div class="profile_info">
                            <h6 class="color_dark sz18">Eduardo Anders Rivas Montes</h6>
                            <small class="color_lead">Matemático</small>
                        </div>
                    </div>
                </a>

                <a th:href="@{/asesoria}" class="item_theme">
                    <div class="desc_course">
                        <h5 class="font_b">Bases ortonormales y el método de Gram-Schmidt</h5><br>
                        <img src="img/stars.png">
                    </div>
                    <div class="profile_contender">
                
                        <div class="profile_picture">
                            <img src="upload/professors/docente7.jpg">
                        </div>
                
                        <div class="profile_info">
                            <h6 class="color_dark sz18">Diaman Lucas Diaz Montes</h6>
                            <small class="color_lead">Matemático</small>
                        </div>
                    </div>
                </a>

            </div>
           

        </section>
    </main>
    <links th:include="components/footer"></links>
</body>

</html>