<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${curso}">Curso</title>
    <link th:include="components/link"></link>
</head>
<body class="light_mode">
    <header th:include="components/menu_app"></header>
    <main class="main_wrapper">
        <header th:include="components/nav_panel"></header>
        <article class="title_page df jcsb mt1">
            <div class="dg">
                <small class="df alit_c gap025 font_w500 mb05 color_subspan">
                    <i class="ki-outline ki-home color_span"></i>
                    <i class="ki-outline ki-right sz10 color_span"></i>
                    <span>App</span>
                    <i class="ki-outline ki-right sz10 color_span"></i>
                    <span>Curso</span>
                </small>
                <h6 class="color_subtitle font_w600" th:text="${curso}">Curso</h6>
                <p class="color_span pt05" th:text="${#lists.isEmpty(asesorias) ? 'Sin categoría' : asesorias[0].categoriaCurso}">
                    Categoria</p>
            </div>
            <div class="df gap025">
                <button class="button bg_dark br05 color_light"><i class="ki-outline ki-element-plus sz20"></i></button>
                <button class="button br05"><i class="ki-outline ki-row-horizontal sz20"></i></button>
            
            </div>
        </article>
        <section class="course">
            <div class="theme_item">

                <a th:href="@{'/sesion?sesion=' + ${asesoria.idAsesoria}}" class="item_theme b1" th:each="asesoria : ${asesorias}">
                    <div class="desc_course">
                        <h5 class="font_w600" th:text="${asesoria.tema}">Tema de Asesoría</h5><br>
                    </div>
                    <div class="profile_contender">
                        <div class="profile_picture">
                            <img th:src="@{'upload/professors/' + ${asesoria.fotoPerfil}}" alt="Foto del profesor">
                        </div>
                        <div class="profile_info">
                            <h6 class="color_dark sz18 font_w600" th:text="${asesoria.nomProfesor}">Nombre del Profesor</h6>
                            <small class="color_subspan" th:text="${asesoria.profesion}">Profesión</small>
                        </div>
                    </div>
                </a>

            </div>
           

        </section>
    </main>
    <links th:include="components/footer"></links>
</body>

</html>