<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cursos | Nextclass</title>
    <link th:include="components/link"></link>
</head>
<body class="light_mode">
    <header th:include="components/menu_app"></header>
    <main class="main_wrapper">
        <header th:include="components/nav_panel"></header>
        <section class="courses">
            

            <ul class="courses_category">
                <li class="category-btn" data-filter="all">Todos</li>
                <!-- Iteración sobre las categorías -->
                <th:block th:each="categoria : ${categorias}">
                    <li class="category-btn" th:data-filter="${categoria.categoriaCurso}">
                        <!-- Aquí usamos el nombre de la categoría como data-filter -->
                        <span th:text="${categoria.categoriaCurso}">Nombre de la Categoría</span>
                    </li>
                </th:block>
            </ul>

            <div class="courses_item">
                    <a th:each="curso : ${cursos}" th:href="@{/curso}" th:class="'item_course ' + ${curso.categoriaCurso}" class="item_course">
                        <figure th:style="'background-image:url(upload/courses/' + ${curso.imagenCurso} + ');'">
                        </figure>
                        <div class="desc_course">
                            <h5 th:text="${curso.nombreCurso}"></h5>
                            <p th:text="${curso.categoriaCurso}"></p>
                        </div>
                    </a>
            </div>

            <div class="pagination_pages">
                <ul>
                    <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{/cursos(page=${i})}" th:text="${i}" th:classappend="${i == currentPage} ? 'active'"></a>
                    </li>
                </ul>
                
            </div>
            

        </section>
    </main>
    <links th:include="components/footer"></links>
</body>
</html>