<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Factura</title>
    <link th:include="components/link"></link>
</head>
<body class="light_mode">
    <main class="invoice column-8 mc mt5" th:each="recibo : ${recibosList}">
        <article class="inv_header">
            <div class="inv_date">
                <p class="color_lead sz16">Factura n° <small th:text="${recibo.idRecibo}"></small></p>
                <small class="color_span">05/06/2024</small>
            </div>
            <div class="inv_act color_span">
                <form action="/recibos/download" method="get">
                    <button type="submit"><i class='bx bx-file-blank'></i></button>
                </form>
                <i class='bx bx-envelope'></i>
                <i class='bx bx-printer'></i>
            </div>
        </article>
        <figure class="inv_logo">
        <img src="img/logo.png">
        </figure>
        <article class="inv_idd">
            <div class="ind_des">
                <p>Factura de </p>
                <p><strong> Ing. <span th:text="${recibo.nombreProfesor}"></span></strong></p><br>
                <p class="color_lead sz16">1200 Anfiteatro Parkway
                Mountain View, CA 10486</p>
                <p class="color_lead sz16">Teléfono: +1 888-555-0000</p>
            </div>

            <div class="ind_det">
                <p>Factura Para:</p>
                <p><strong><div th:text="${recibo.nombreEstudiante}"></div></strong></p><br>
                <p class="color_lead sz16">Calle Alegada Way
                Filadelfia, PA 10486</p>
                <p class="color_lead sz16">Teléfono: +7 313-020-0207</p>
            </div>
        </article>
        <table class="inv_table">
            <thead>
                <tr>
                    <th><i class="ai-hashtag"></i> Cod</th>
                    <th>Descripción</th>
                    <th>Horas</th>
                    <th>Precio unitario</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td th:text="${recibo.idRecibo}"></td>
                    <td th:text="${recibo.curso}"></td>
                    <td th:text="${recibo.horas}"></td>
                    <td th:text="${recibo.precio}"></td>
                    <td th:text="${recibo.precio}"></td>
                </tr>
                
            </tbody>
        </table>
        <article class="inv_total">
            <div class="inv_des">
                <p class="color_lead">SUBTOTAL</p>
                <p class="color_lead">15% COMISIÓN</p>
                <p> <strong>TOTAL</strong></p>
            </div>
            <div class="inv_pay">
                <small>$15.0</small>
                <small>$2,25</small>
                <p><strong>$17,25</strong></p>
            </div>
        </article>
        <article class="inv_adv">
            <small><strong>COMUNICADO: </strong> El 15% de comisión aportado por el docente via el pago del estudiante, se utilizará para mantener el software con mejoras continuas y fortalecerlos de nuevas herramientas. Todo para el beneficio del estudiante.</small>
        </article>
    </main>
</body>
</html>