<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Factura</title>
    <link th:include="components/link">
    </link>
</head>

<body class="light_mode">
<main class="invoice column-8 mc mt5" th:each="recibo : ${recibosList}">
    <article class="inv_header">
        <div class="inv_date">
            <p class="color_lead sz16">Factura n° <small th:text="${recibo.idRecibo}"></small></p>
            <small class="color_span">05/06/2024</small>
        </div>
        <div class="inv_barcode"> </div>
    </article>
    <section class="inv_data">
        <div class="inv_data_from">
            <p class="sz16 color_lead" th:text="${recibo.nombreProfesor}"></p>
            <p class="sz16" th:text="${recibo.curso}"></p>
        </div>
        <div class="inv_data_from">
            <p class="sz16 color_lead" th:text="${recibo.nombreEstudiante}"></p>
        </div>
    </section>
    <table class="inv_table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${recibo.tema}"></td>
                <td th:text="${recibo.precio}"></td>
            </tr>
        </tbody>
    </table>
    <div class="inv_total">
        <small class="color_span">Total:</small>
        <p class="color_primary sz40" th:text="${recibo.precio}"></p>
    </div>
    <div class="inv_note">
        <h3 class="color_span mb1">Descripción</h3>
        <p th:text="${recibo.descripcion}"></p>
    </div>
</main>
</body>

</html>