<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Cursos</title>
</head>

<body>
<h1>Lista de Recibos</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID Recibo</th>
            <th>Nombre del Profesor</th>
            <th>Nombre del Estudiante</th>
            <th>Curso</th>
            <th>Precio</th>
            <th>Horas</th>
            <th>Tema</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="recibo : ${recibosList}">
            <td th:text="${recibo.idRecibo}">ID Recibo</td>
            <td th:text="${recibo.nombreProfesor}">Nombre del Profesor</td>
            <td th:text="${recibo.nombreEstudiante}">Nombre del Estudiante</td>
            <td th:text="${recibo.curso}">Curso</td>
            <td th:text="${recibo.precio}">Precio</td>
            <td th:text="${recibo.horas}">Horas</td>
            <td th:text="${recibo.tema}">Tema</td>
            <td th:text="${recibo.descripcionC}">Descripción</td>
        </tr>
    </tbody>
</table>
<!-- Botón para descargar Excel -->
<form action="/recibos/download" method="get">
    <button type="submit">Descargar Excel</button>
</form>
</body>

</html>