<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesores | Nextclass</title>
    <link th:include="components/link"></link>
</head>

<body class="light_mode">
    <header th:include="components/menu_app"></header>
    <main class="main_wrapper">
        <header th:include="components/nav_panel"></header>
        <div class="title_page">
            <h5 class="color_dark font_b">Profesores</h5>
        </div>
        <section class="professors">
            <ul class="professors_category">
            </ul>
            <div class="professors_item">
                <a href="/profesor" class="item_professor" th:each="profesor : ${profesores}">
                    <figure th:style="'background-image:url(upload/professors/' + ${profesor.fotoPerfil} + ');'"></figure>
                    <div class="posit_abs bottom1">
                        <div class="ml1 p05">
                            <h6 class="color_light sz20 font_s" th:text="${mapUsuarioNombres[profesor.idUsuario]}"></h6>
                            <p class="color_light" th:text="${mapUsuarioProfesion[profesor.idUsuario]}"></p>
                            <div class="bg_light b1 br1 p05 mt1 dif gap05">
                                <img class="height2x" th:src="${mapPaisImagen[profesor.idUsuario]}">
                                <p class="color_dark font_m" th:text="${profesor.nombrePais}"></p>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>
        </section>
    </main>
    <links th:include="components/footer"></links>
</body>
</html>