<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesores | Nextclass</title>
    <links th:include="components/link"></links>
</head>

<body class="light_mode">
    <header th:include="components/menu_app"></header>
    <main class="main_wrapper">
        <header th:include="components/nav_panel"></header>
        <section class="professors">
        </section>
    </main>
    <links th:include="components/footer"></links>
</body>

</html>