<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse | Nextclass</title>
    <link th:include="components/link"></link>
</head>
<body class="light_mode">
    <main class="main">
        <div class="container">
            <section class="contender">
                <ul class="navbar_center">
                    <figure class="mb4">
                        <img src="img/logo.png">
                    </figure> 
                </ul>
                <form class="form_register" method="POST" id="FormContact" action="/registrarse" autocomplete="off">
                    <article class="df gap2">
                            <fieldset class="checkbox_item posit_rel"  th:each="entry : ${tiposUsuarioImages}">
                                <input type="radio" name="tipoUsuario" th:id="'tipoUsuario' + ${entry.key}" th:value="${entry.key}" />
                                <label th:for="'tipoUsuario_' + ${entry.key}">
                                    <img class="br3 height45x" th:src="${entry.value}" />
                                   <h5 class="sz24 p1 tc" th:text="${entry.key}"></h5>
                                </label>
                            </fieldset>
                    </article>

                    <div class="mt2  tc">
                        <a class="button bg_dark color_light_p  btn_abrir sz18">Siguiente <i class="ai-arrow-right"></i></a>
                        <main class="modal_ventana_content hidden" id="modal" th:include="components/user_form"></main>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <links th:include="components/footer"></links>
</body>
</html>