<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse | Nextclass</title>
    <link th:include="components/link"></link>
</head>
<body class="light_mode">
    <main class="main">
        <div class="container">
            <section class="contender">
                <ul class="navbar_center">
                    <figure class="mb5">
                        <img src="img/logo.png">
                    </figure>
                </ul>
                <form class="form_users" method="POST" id="FormContact">
                    <article class="users_form">
                        <div th:each="entry : ${tiposUsuarioImages}">
                            <fieldset class="user_contender">
                                <input type="radio" name="tipoUsuario" th:id="'tipoUsuario' + ${entry.key}" th:value="${entry.key}" />
                                <label th:for="'tipoUsuario_' + ${entry.key}">
                                    <img th:src="${entry.value}" />
                                    <h5 th:text="${entry.key}"></h5>
                                </label>
                            </fieldset>
                        </div>
                    </article>

                    <div class="users_btn">
                        <a class="button bg_span color_light_p  btn_abrir sz18">Siguiente <i class="ai-arrow-right"></i></a>
                        <main class="modal_ventana_content hidden" id="modal" th:include="components/user_form"></main>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <links th:include="components/footer"></links>
</body>
</html>