<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${asesoria.tema}"> | Nextclass</title>
    <link th:include="components/link"></link>
</head>

<body class="light_mode">
    <header th:include="components/menu_app"></header>
    <main class="main_wrapper">
        <header th:include="components/nav_panel"></header>
        <article class="title_page df jcsb mt1">
            <div class="dg">
                <small class="df alit_c gap025 font_w500 mb05 color_subspan">
                    <i class="ki-outline ki-calendar color_span"></i>
                    <i class="ki-outline ki-right sz10 color_span"></i>
                    <span>Cursos</span>
                    <i class="ki-outline ki-right sz10 color_span"></i>
                    <span>Asesoria</span>
                </small>
                <h6 class="color_subtitle font_w600">Asesoria</h6>
            </div>
        </article>
        <section class="advisory">
            <aside class="column">
                <div class="column-3">
                    <div class="posit_rel bg_dark br2 height40x mr2">
                        <h5 class="color_light p1 sz24 font_w500"><br/>Requesitos para tomar la Asesoria </h5>
                        <div class="p1">
                            <p class="color_light">Conexión a internet  <span class="sz14">*Óptimas condiciones</span></p>
                            <p class="color_light">Perifericos (Audifonos, Cámara web)</p>
                            <p class="color_light">Previo conocimiento</p>
                        </div>
                        <button class="ml1 button button_2 bg_secondary color_light sz15 btn_abrir">Detalles </button>
                        <main class="modal_ventana_content hidden" id="modal" th:include="components/requesitos"></main>
                        <figure>
                            <img class="height30x br1"
                                src="https://preview.keenthemes.com/start-react-pro/media/illustrations/terms-2.png">
                        </figure>
                    </div>
                </div>
                <div class="column-6">
                    <div class="b1 br1 p2">
                        <article class="title mt1 mb2">
                            <h4 class="color_title mb05 font_w700 sz28" th:text="${asesoria.tema}"></h4>
                            <p class="color_span font_w500">Programación Web </p>
                        </article>

                        <article class="mt1 mb05">
                            <small class="color_subspan p05 b1 br075 font_w600">Acerca de</small>
                            <p class="color_span mt2" th:text="${asesoria.descripcion}"> </p>
                        </article>

                        <article class="df jcs gap1 mt1 mb05">
                            <div class="df gap1">
                                <div class="dg alit_b">
                                    <small class="dib color_subspan p05 b1 br075 font_w600">Duración</small>
                                    <p class="color_span mt05 sz15"><i class="ai-calendar"></i>
                                        <span th:text="${asesoria.duracion}"></span></p>
                                </div>
                                <div class="dg alit_b">
                                    <small class="color_subspan p05 b1 br075 font_w600">Capacidad</small>
                                    <p class="color_span mt05 sz15"><i class="ai-people-multiple"></i>
                                        <span th:text="${asesoria.capacidad}"></span> personas</p>
                                </div>
                            </div>
                        </article>

                        <article class="df jcs gap1 mt1 mb05">
                                <div class="dg alit_b">
                                    <small class="color_subspan p05 b1 br075 font_w600">Precio</small>
                                    <p class="color_span mt05 sz15"><i class="ai-money"></i>
                                        <span th:text="${asesoria.precio != null} ? ${asesoria.precio} : 'No disponible'"></span></p>
                                </div>
                        </article>

                        <article class="df jcs gap1 mt1 mb05">
                            <div class="df gap1">
                                <div class="alit_b">
                                    
                                    <small class="dib color_subspan p05 mb05 b1 br075 font_w600">Horarios</small>
                                    <div class="bd1 p1 br1 mb05">
                                        <p th:each="sesion : ${asesoria.sesiones}" class="df color_span sz14" th:text="${sesion.dia + ': ' + sesion.horaInicial + ' - ' + sesion.horaFinal}"></p>
                                    </div>
                                    <small class="color_subspan">Disponible del 01 de Julio al 13 de Agosto</small>
                                </div>
                            </div>
                        </article>

                        <article class="buttons_contender">
                            <a class="button button_2 bg_verify color_light btn_abrir"><i class="ai-paper-airplane"></i> Inscribirse</a>
                            <main class="modal_ventana_content hidden" id="modal" th:include="components/inscribirse_asesoria"></main>
                        </article>
                    </div>
                </div>
                <div class="column-2">
                    <div class="posit_rel b1 br1 p1 ml1 mr1">
                        <div class="df jcsb">
                            <small class="dib color_subspan p05 mb05 b1 br075 font_w600">Tutor</small>
                            <i class="ai-more-vertical-fill"></i>
                        </div>
                        <div class="dg mb05 tc">
                            <img  class="height15x br50 mc" th:src="@{'upload/professors/' + ${asesoria.fotoPerfil}}" alt="Foto del profesor">
                        </div>
                        <div class="profile_info tc mb05">
                            <h6 class="sz18" th:text="${asesoria.nomProfesor}"></h6>
                            <p class="color_span sz15"><span th:text="${asesoria.profesion}"></span></p>
                        </div>
                    </div>
                </div>
            </aside>
        </section>
    </main>
    <tr th:each="estudiante : ${estudiantes}">
        <td th:text="${estudiante.idEstudiante}"></td>
        <td th:text="${estudiante.idUsuario}"></td>
        <td th:text="${estudiante.nivelAcademico}"></td>
        <td>
            <!-- Mostrar la foto de perfil si está disponible -->
            <img th:src="@{${estudiante.fotoPerfil}}" alt="Foto de Perfil" style="width:100px;height:100px;" />
        </td>
    </tr>
    <links th:include="components/footer"></links>
</body>
</html>