<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nextclass | Home</title>
    <link th:include="components/link"></link>
</head>
<body class="dark_mode">
    <header>
        <div class="container container_max">
            <nav class="navigation">
                <ul class="navbar_center">
                    <figure class="pt1">
                        <img src="img/logo_w.png">
                    </figure>
                </ul>
                <ul class="navbar_right">
                    <li><a th:href="@{/login}" class="button bg_secondary color_dark font_w700">
                                Acceder
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="cover main posit_rel">
        <div class="container">
            <aside class="column jcr">
                <div class="column-9 df gap2">
                    <div class="dib">
                    <h1 class="color_dark mb2 font_w500 sz72">
                        Aprendizaje <br/>ligero y<br/> <strong>flexible.</strong>
                    </h1>
                    <p class="color_dark sz24">Asesorias en vivo con profesores en español.
                    <br/>Cientos de universidades apuestan por
                    <br/>nuestro servicio.</p>
                    <div class="mt3">
                        <a class="p1 br1 bg_light color_dark sz20 font_s" th:href="@{/registrarse}">
                            Empezar <i class="ai-arrow-up-right"></i>
                        </a>
                    </div>
                    </div>
                    <figure class="dg">
                        <video class="posit_abs right3 height80x top3 br3" autoplay muted loop>
                            <source src="img/video.mp4" type="video/mp4">
                            Tu navegador no soporta el elemento de video.
                        </video>
                    </figure>
                </div>
            </aside>
        </div>

            <li class="posit_fix right2 bottom2 chat_click dif" id="dropdow_toogle">
                <div class="br05 p1 bg_dark">
                    <p class="sz16 color_light"><strong>Hola! 👋 </strong> ¿Puedo ayudarte?</p>
                </div>
            </li>
            <div class="posit_fix column-2 top3 hidden right2" id="dropdow_menu">
                <article class="height40x">
                    <header class="chatbg brt1">
                        <div class="mt1 p2">
                            <h5 class="font_w500">¡Hola! <br/> <strong>En que te puedo ayudar</strong></h5>
                        </div>
                    </header>
                    <div class="body_select bg_dark">
                        <div class="body_select_contender p1">
                            <small class="color_light bg_span db p1 br1">
                            ¡Excelente! Solo necesitamos un poco más de información para que
                            podamos hablar con el experto en productos adecuado.
                            </small>
                        </div>
                    </div>
                </article>
            </div>
    </main>
    <links th:include="components/footer"></links>
</body>
</html>